<nav class="navbar navbar-expand-sm bg-dark navbar-dark justify-content-between" >
    <img src="https://i.pinimg.com/280x280_RS/1d/74/79/1d7479e1f90fd232dacde3f948a69d39.jpg" width="30" height="30" class="d-inline-block align-top" alt="Mindfire logo">
    <a class="navbar-brand">Mindfire Solutions</a>
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" ><a href="#" class="nav-link">HOME</a></li>
      <li class="nav-item" ><a href="#" class="nav-link">ABOUT US</a></li>
      <li class="nav-item" ><a href="#" class="nav-link">CONTACT US</a></li>
    </ul>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>