
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    img{
        margin-right: 5px;
        border-radius: 100%;
    }
}


