h3{
  text-align: center;
}

.form-signin {
  background-color: rgb(128, 108, 110);
  border-radius: 5%;
  width: 100%;
  max-width: 350px;
  padding: 15px;
  margin:auto;

  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
  }

  .radio{
    text-align: center;
    .sub-type{
      margin: 10px 10px;
    }
  }
}

img{
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 150px;
  width: 150px;
}